@charset "utf-8";

/*ν—¤λ”*/
#wrap{width:100%;}

#header{width:100%;}

h1{
    text-align:center;
    height:50px;
    line-height:50px;}

h1 img{width:80px;}
h1 a {width:80px;}

.gnb{}

.gnb .leftBtn{
    float:left;
    position:absolute;
    top:0;
    left:0;
    height:50px;}
.gnb .leftBtn img{width:20px; padding:15px;}
.gnb .leftBtn a{display:inline-block; height:50px;}

.gnb .rightBtn{float:right; position:absolute; top:0; right:0; height:50px;}
.gnb .rightBtn img{width:20px; padding:15px;}
.gnb .rightBtn a{display:inline-block; height:50px;}

/*ν‘Έν„°*/
#footer{text-align:center;}
.footerWrap{}

.footerT{display:inline-block;}
.footerT img{display:inline-block; margin:1%;}
.footerT span{display:block;}
.fTxt{display:inline-block; padding:0 3px; font-size:14px;}
.fTxt2{display:inline-block; padding:0 2px; font-size:14px;}
.fTxt3{display:inline-block; padding:0 2px; font-size:14px;}
.fTxt4{display:inline-block; padding:0 10px; font-size:14px;}

.footerB{background-color:#e7e7e9; margin-top:15px; text-align:center; width:100%; padding-top:20px;}
.footerB .img01{margin-left:20px;}
.footerB .img02{}
.footerB .img03{}


.footerB span{display:block; font-size:13px;}
.footerB a{padding:0 3px;}
.footerB P{font-size:12px; color:#656464; padding:20px 0;}
